{% extends "compartidos/base.html" %}

{% block head %}
<title>Iniciar chat</title>
{% endblock head %}

{% block h2_header %}
<h2 class="masthead-heading mb-0"> Iniciar chat </h2>


{% endblock h2_header %}

{% block main %}
<section class="bg-light">
    <div class="container px-4 px-lg-5">
        <form class="p-3 p-lg-4 lead fst-italic" action={% url 'nuevo_chat' %} method="POST">
            {% csrf_token %}
            {{formulario_iniciar_chat.as_p}}
            <div>
                <button class="btn btn-outline-primary fst-italic"><i class="bi bi-chat"></i> Iniciar</button>
                <a class="btn btn-outline-danger fst-italic" href={% url 'ver_chats' %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
        </form>
    </div>
</section>
{% endblock main %}