{% extends "compartidos/base.html" %}

{% block head %}
<title>Editar perfil</title>
{% endblock head %}

{% block h2_header %}
<h2 class="masthead-heading mb-0"> Editar perfil </h2>
{% endblock h2_header %}

{% block main %}

<form action={% url "editar_perfil" %} method = "post" enctype = 'multipart/form-data'> 
    {% csrf_token %}

    <table>
        {{formulario}}
        {{formulario.media}}
    </table>

<input type="submit" value= " Editar ">
<a href={% url "editar_pass" %}>Cambiar contraseña</a>

</form>
{% endblock main %}