{% extends "compartidos/base.html" %}

{% block head %}
<title>Editar contraseña</title>
{% endblock head %}

{% block h2_header %}
<h2 class="masthead-heading mb-0"> Editar contraseña </h2>
{% endblock h2_header %}

{% block main %}

<form action={% url "editar_pass" %} method = "post">
    {% csrf_token %}

    {{ form.pass_old.label_tag }} {{ form.pass_old }} <br>
    {{ form.password1.label_tag }} {{ form.password1 }} <br>
    {{ form.password2.label_tag }} {{ form.password2 }} <br>

<input type="submit" value= " Confirmar ">


</form>
{% endblock main %}