{% extends "compartidos/base.html" %}

{% block head %}
<title>Profesores</title>
{% endblock head %}

{% block h2_header %}
<h2 class="masthead-heading mb-0">Profesores</h2>
{% endblock h2_header %}

{% block main %}
<a href={% url "agregar_profesor" %} class = "btn btn-primary"> Agregar profesor</a>
<form action=""  >
       {{formulario}}
    <input type="submit" value = 'Buscar'>
</form>
{% if profe_encontrados %}
<ul>
    {% for profe in profe_encontrados %}
    <li><a > {{profe.nombre}}</a> || <a href={% url "detalle_profesor" profe.id %}> Detalles</a> || <a href={% url "editar_profesor" profe.id %}>Editar</a> || <a href={% url "eliminar_profesor" profe.id  %}> Eliminar </a></li>
    {% endfor %}

</ul>
{% else %}
<p>No se encontraron profesores</p>
{% endif %}

{% endblock main %}